<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1>#SocialRunning</h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons name" md-font-icon="more_vert" >more_vert</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More" ng-click="showSearch()">
            <md-icon class="material-icons name" md-font-icon="search" >search</md-icon>
        </md-button>

    </div>
</md-toolbar>
<div  layout-fill>

    <div layout="row" flex id="content">
        <md-content layout="column" flex >

        <!--Die Karte -->
        <map center="50.9364,6.9528" zoom="14" on-click="placeMarker()">
          <info-window position="current-location" visible="false">
            <span>Sie sind hier!</span>
          </info-window>

    <marker ng-repeat="pos in locs" position="{{pos.coordinates[1]}}, {{pos.coordinates[0]}}"></marker>
        </map>
        </md-content>
    </div>
</div>
