<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1>#SocialRunning</h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons name" md-font-icon="more_vert" >more_vert</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons name" md-font-icon="search" >search</md-icon>
        </md-button>
       
    </div>
</md-toolbar>
<div  layout-fill>

    <div layout="row" flex id="content">
        <md-content layout="column" flex >
        <!--Die Karte -->
        <map center="-25.363882,131.044922" zoom="4" on-click="placeMarker()">
          <info-window position="current-location" visible="true">
      <span>Location found using HTML5.</span>
    </info-window>
        </map>
        </md-content>
    </div>
        <md-fab-toolbar md-open="false" count="0" md-direction="right">
            <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon class="material-icons name" md-font-icon="search" >search</md-icon>
            </md-button>
        </md-fab-trigger>
            <md-toolbar>
                <md-fab-actions class="md-toolbar-tools">
                    <md-button aria-label="comment" class="md-icon-button">
                        <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-toolbar>
        </md-fab-toolbar>
</div>