<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1>#SocialRunning</h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons name" md-font-icon="more_vert" >more_vert</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons name" md-font-icon="search" >search</md-icon>
        </md-button>
       
    </div>
</md-toolbar>
<div layout="row" flex layout-fill>

    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
        <h1>Große Karte, ihr wisst schon...</h1>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </md-content>
    </div>
        <md-button class="md-fab md-fab-bottom-right" aria-label="+">
            <md-icon class="material-icons name" md-font-icon="exposure_plus_1" >exposure_plus_1</md-icon>
        </md-button>
</div>